<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta lang="en">
    <title>Agregar Asociado</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</head>

<body>
    <form method='POST' action="/AgAsoc" name="formulario" id="formulario" method="get">
        <h2>Agregar Asociado</h2>
        <div>
            <label for="dni">DNI: </label>
            <input class="form-control" id="dni" type="number" name="dni" value="" maxlength="8" minlength="7" required>
        </div>
        <div>
            <label for="nombre">Nombre: </label>
            <input class="form-control" id="nombre" type="text" name="nombre" value="" required>
        </div>
        <div>
            <label for="apellido">Apellido: </label>
            <input class="form-control" id="apellido" type="text" name="apellido" value="" required>

        </div>
        <div>
            <label for="email">E-mail: </label>
            <input class="form-control" id="email" type="email" name="email" value="" required>
        </div>
        <div>
            <label for="donador">Donador</label>
            <input type="radio" name="donante" id="donador" value="si">
            <label for="donador">No Donador</label>
            <input type="radio" name="donante" id="noDonador" value="no">
        </div>
        <div>
            <label for="grsan">Grupo Sanguineo: </label>
            <input class="form-control" id="grsan" type="text" name="grsan" value="" required>
        </div>
        <div>
            <label for="enfermedad">Enfermedades: </label>
            <input class="form-control" id="enfermedad" type="text" name="enfermedad" value="" required>
        </div>
        <div>
            <button id="agregar">Agregar</button>

        </div>
    </form>
    <div>
        <button id="cancelar" onclick="history.back ()">Volver</button>
    </div>
</body>

</html>