<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Editar Asociado</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="" method="get" id="ing">
        <h2>Editar Asociado</h2>
        <div>
            <label for="dni">DNI: </label>
            <input class="form-control" id="dni" type="number" name="dni" value="" maxlength="8" minlength="7" required>
        </div>
        <div>
            <div>
                <button id="aceptar">Aceptar</button>
            </div>
        </div>
    </form>
    <br><br>
    <form action="" method="get" id="edit">
        <div>
            <label for="Nombre">Nombre: </label>
            <input class="form-control" id="nombre" type="text" name="nombre" value="" required>
        </div>
        <div>
            <label for="Apellido">Apellido: </label>
            <input class="form-control" id="apellido" type="text" name="apellido" value="" required>

        </div>
        <div>
            <label for="email">E-mail: </label>
            <input class="form-control" id="email" type="email" name="email" value="" required>
        </div>
        <div>
            <label for="donador">Donador</label>
            <input type="radio" name="donante" id="donador" value="si">
            <label for="donador">No Donador</label>
            <input type="radio" name="donante" id="noDonador" value="no">
        </div>
        <div>
            <button id="cambiar">Cambiar</button>
        </div>
    </form>
    <div>
        <button id="volver" onclick="history.back ()">Volver</button>
    </div>
    <script>
        const form = document.getElementById('edit');
        const ing = document.getElementById('ing');

        ing.addEventListener("submit", function (event) {
            validarDni(event);

        })

        form.addEventListener("submit", function (event) {
            validar(event);
            event.preventDefault();
            let transFormData = new FormData(form);
            let asocObj = crearAsociado(transFormData);
            insertInLocalStorage(asocObj);
        })

        function insertInLocalStorage(asocObj) {
            let objjson = JSON.stringify(asocObj);
            let ref = asocObj.dni;
            if (localStorage.getItem(ref) == null) {
                localStorage.setItem(ref, objjson)
            } else {
                alert("El DNI ya se encuentra registrado")
            }
        }

        var validarDni = function (e) {
            if (form.dni.value <= 1000000) {
                alert("DNI no valido");
                e.preventDefault();
            }
        };
    </script>

</body>

</html>