<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2> Inicio</h2>
    <ul>
        <li><a href="AgAsociado">Agregar Asociado</a></li>
        <li><a href="EdAsociado">Editar Asociado</a></li>
        <li><a href="">Eliminar Asociado</a></li>
        <li><a href="">Agregar Pedido</a></li>
        <li><a href="">Remover Pedido</a></li>
        <li><a href="">Agregar Donacion</a></li>
        <li><a href="">Remover Donacion</a></li>
        <li><a href="">Ranking Anual</a></li>
        <li><a href="">Listado de Deudores</a></li>
    </ul>
</body>
