<h3>Registrar</h3>
<form action="" method="post" name="register" #register>

    <label for="username">Nombre </label> 
    <input type="text" name="username" id="username">
    <br><br>
    <label for="userlname">Apellido</label>
    <input type="text" name="userlname" id="userlname">
    <br><br>
    <label for="birdate">Fecha de Nacimiento</label>
    <input type="date" name="birdate" id="birdate">
    <br><br>
    <label for="email">Correo Electronico</label>
    <input type="email" name="email" id="email">
    <br><br>
    <label for="pass">Contraseña</label>
    <input type="text" name="pass" id="pass">
    <br><br>
    <label for="pass2">Repita la Contraseña</label>
    <input type="text" name="pass2" id="pass2">
    <br><br>
    <input type="submit" value="Registrarse">
</form>